### Importing the library

In [193]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Importing the dataset [URL](https://grouplens.org/datasets/movielens/)

In [194]:
df_rating=pd.read_csv("ratings.csv")

#### Exploratory Data Analysis

In [195]:
df_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [196]:
df_rating.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

#### Statistical Overview

In [197]:
df_rating.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [198]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

#### Selected columns

In [199]:
col_rating=["userId","movieId","rating"]

#### Importing Movies dataset

In [200]:
df_movies=pd.read_csv("movies.csv")

In [201]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [202]:
df_movies.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [203]:
df_movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [204]:
df_movies.describe(include="all")

              movieId        title genres
count     9742.000000         9742   9742
unique            NaN         9737    951
top               NaN  Eros (2004)  Drama
freq              NaN            2   1053
mean     42200.353623          NaN    NaN
std      52160.494854          NaN    NaN
min          1.000000          NaN    NaN
25%       3248.250000          NaN    NaN
50%       7300.000000          NaN    NaN
75%      76232.000000          NaN    NaN
max     193609.000000          NaN    NaN

In [205]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
movieId    9742 non-null int64
title      9742 non-null object
genres     9742 non-null object
dtypes: int64(1), object(2)
memory usage: 228.4+ KB

In [206]:
df_movies.count

<bound method DataFrame.count of       movieId                                              title  \
0           1                                   Toy Story (1995)
1           2                                     Jumanji (1995)
2           3                            Grumpier Old Men (1995)
3           4                           Waiting to Exhale (1995)
4           5                 Father of the Bride Part II (1995)
5           6                                        Heat (1995)
6           7                                     Sabrina (1995)
7           8                                Tom and Huck (1995)
8           9                                Sudden Death (1995)
9          10                                   GoldenEye (1995)
10         11                     American President, The (1995)
11         12                 Dracula: Dead and Loving It (1995)
12         13                                       Balto (1995)
13         14                                       Nixon (1995)
14         15                            Cutthroat Island (1995)
15         16                                      Casino (1995)
16         17                       Sense and Sensibility (1995)
17         18                                  Four Rooms (1995)
18         19              Ace Ventura: When Nature Calls (1995)
19         20                                 Money Train (1995)
20         21                                  Get Shorty (1995)
21         22                                     Copycat (1995)
22         23                                   Assassins (1995)
23         24                                      Powder (1995)
24         25                           Leaving Las Vegas (1995)
25         26                                     Othello (1995)
26         27                                Now and Then (1995)
27         28                                  Persuasion (1995)
28         29  City of Lost Children, The (Cité des enfants p...
29         30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...       ...                                                ...
9712   188189                         Sorry to Bother You (2018)
9713   188301                        Ant-Man and the Wasp (2018)
9714   188675                                      Dogman (2018)
9715   188751                Mamma Mia: Here We Go Again! (2018)
9716   188797                                         Tag (2018)
9717   188833              The Man Who Killed Don Quixote (2018)
9718   189043                                  Boundaries (2018)
9719   189111                                      Spiral (2018)
9720   189333               Mission: Impossible - Fallout (2018)
9721   189381                                    SuperFly (2018)
9722   189547                                Iron Soldier (2010)
9723   189713                              BlacKkKlansman (2018)
9724   190183                           The Darkest Minds (2018)
9725   190207                                        Tilt (2011)
9726   190209                 Jeff Ross Roasts the Border (2017)
9727   190213                                   John From (2015)
9728   190215                                Liquid Truth (2017)
9729   190219                                       Bunny (1998)
9730   190221  Hommage à Zgougou (et salut à Sabine Mamou) (2...
9731   191005                                     Gintama (2017)
9732   193565                          Gintama: The Movie (2010)
9733   193567  anohana: The Flower We Saw That Day - The Movi...
9734   193571                                Silver Spoon (2014)
9735   193573            Love Live! The School Idol Movie (2015)
9736   193579           Jon Stewart Has Left the Building (2015)
9737   193581          Black Butler: Book of the Atlantic (2017)
9738   193583                       No Game No Life: Zero (2017)
9739   193585                                       Flint (2017)
9740   193587                Bungo Stray Dogs: Dead Apple (2018)
9741   193609                Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
5                           Action|Crime|Thriller
6                                  Comedy|Romance
7                              Adventure|Children
8                                          Action
9                       Action|Adventure|Thriller
10                           Comedy|Drama|Romance
11                                  Comedy|Horror
12                   Adventure|Animation|Children
13                                          Drama
14                       Action|Adventure|Romance
15                                    Crime|Drama
16                                  Drama|Romance
17                                         Comedy
18                                         Comedy
19             Action|Comedy|Crime|Drama|Thriller
20                          Comedy|Crime|Thriller
21            Crime|Drama|Horror|Mystery|Thriller
22                          Action|Crime|Thriller
23                                   Drama|Sci-Fi
24                                  Drama|Romance
25                                          Drama
26                                 Children|Drama
27                                  Drama|Romance
28         Adventure|Drama|Fantasy|Mystery|Sci-Fi
29                                    Crime|Drama
...                                           ...
9712                        Comedy|Fantasy|Sci-Fi
9713       Action|Adventure|Comedy|Fantasy|Sci-Fi
9714                                  Crime|Drama
9715                               Comedy|Romance
9716                                       Comedy
9717                     Adventure|Comedy|Fantasy
9718                                 Comedy|Drama
9719                                  Documentary
9720                    Action|Adventure|Thriller
9721                        Action|Crime|Thriller
9722                                Action|Sci-Fi
9723                           Comedy|Crime|Drama
9724                              Sci-Fi|Thriller
9725                                Drama|Romance
9726                                       Comedy
9727                                        Drama
9728                                        Drama
9729                                    Animation
9730                                  Documentary
9731               Action|Adventure|Comedy|Sci-Fi
9732               Action|Animation|Comedy|Sci-Fi
9733                              Animation|Drama
9734                                 Comedy|Drama
9735                                    Animation
9736                                  Documentary
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]>

#### Columns Movies

In [207]:
col_movies=["movieId","title"]

#### combine movies and rating dataset based on movies id

In [208]:
df_mr=pd.merge(df_rating[col_rating],df_movies[col_movies],how='left',left_on="movieId",right_on="movieId")

In [209]:
df_mr.head()

   userId  movieId  rating                        title
0       1        1     4.0             Toy Story (1995)
1       1        3     4.0      Grumpier Old Men (1995)
2       1        6     4.0                  Heat (1995)
3       1       47     5.0  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0   Usual Suspects, The (1995)

In [210]:
df_mr.tail()

        userId  movieId  rating                           title
100831     610   166534     4.0                    Split (2017)
100832     610   168248     5.0   John Wick: Chapter Two (2017)
100833     610   168250     5.0                  Get Out (2017)
100834     610   168252     5.0                    Logan (2017)
100835     610   170875     3.0  The Fate of the Furious (2017)

In [211]:
df_mr.count

<bound method DataFrame.count of         userId  movieId  rating                                      title
0            1        1     4.0                           Toy Story (1995)
1            1        3     4.0                    Grumpier Old Men (1995)
2            1        6     4.0                                Heat (1995)
3            1       47     5.0                Seven (a.k.a. Se7en) (1995)
4            1       50     5.0                 Usual Suspects, The (1995)
5            1       70     3.0                 From Dusk Till Dawn (1996)
6            1      101     5.0                       Bottle Rocket (1996)
7            1      110     4.0                          Braveheart (1995)
8            1      151     5.0                             Rob Roy (1995)
9            1      157     5.0                      Canadian Bacon (1995)
10           1      163     5.0                           Desperado (1995)
11           1      216     5.0                       Billy Madison (1995)
12           1      223     3.0                              Clerks (1994)
13           1      231     5.0     Dumb & Dumber (Dumb and Dumber) (1994)
14           1      235     4.0                             Ed Wood (1994)
15           1      260     5.0  Star Wars: Episode IV - A New Hope (1977)
16           1      296     3.0                        Pulp Fiction (1994)
17           1      316     3.0                            Stargate (1994)
18           1      333     5.0                           Tommy Boy (1995)
19           1      349     4.0            Clear and Present Danger (1994)
20           1      356     4.0                        Forrest Gump (1994)
21           1      362     5.0                    Jungle Book, The (1994)
22           1      367     4.0                           Mask, The (1994)
23           1      423     3.0                          Blown Away (1994)
24           1      441     4.0                  Dazed and Confused (1993)
25           1      457     5.0                       Fugitive, The (1993)
26           1      480     4.0                       Jurassic Park (1993)
27           1      500     3.0                      Mrs. Doubtfire (1993)
28           1      527     5.0                    Schindler's List (1993)
29           1      543     4.0        So I Married an Axe Murderer (1993)
...        ...      ...     ...                                        ...
100806     610   150401     3.0                         Close Range (2015)
100807     610   152077     4.0                 10 Cloverfield Lane (2016)
100808     610   152081     4.0                            Zootopia (2016)
100809     610   152372     3.5                          Southbound (2016)
100810     610   155064     3.5                      The Neon Demon (2016)
100811     610   156371     5.0                Everybody Wants Some (2016)
100812     610   156726     4.5                                Hush (2016)
100813     610   157296     4.0                        Finding Dory (2016)
100814     610   158238     5.0                       The Nice Guys (2016)
100815     610   158721     3.5                          Gen-X Cops (1999)
100816     610   158872     3.5                       Sausage Party (2016)
100817     610   158956     3.0                        Kill Command (2016)
100818     610   159093     3.0                    Now You See Me 2 (2016)
100819     610   160080     3.0                        Ghostbusters (2016)
100820     610   160341     2.5                           Bloodmoon (1997)
100821     610   160527     4.5           Sympathy for the Underdog (1971)
100822     610   160571     3.0                          Lights Out (2016)
100823     610   160836     3.0                              Hazard (2005)
100824     610   161582     4.0                  Hell or High Water (2016)
100825     610   161634     4.0                       Don't Breathe (2016)
100826     610   162350     3.5               The Magnificent Seven (2016)
100827     610   163937     3.5                         Blair Witch (2016)
100828     610   163981     3.5                                  31 (2016)
100829     610   164179     5.0                             Arrival (2016)
100830     610   166528     4.0        Rogue One: A Star Wars Story (2016)
100831     610   166534     4.0                               Split (2017)
100832     610   168248     5.0              John Wick: Chapter Two (2017)
100833     610   168250     5.0                             Get Out (2017)
100834     610   168252     5.0                               Logan (2017)
100835     610   170875     3.0             The Fate of the Furious (2017)

[100836 rows x 4 columns]>

In [212]:
df_mr.describe()

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042529
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

In [213]:
df_mr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId     100836 non-null int64
movieId    100836 non-null int64
rating     100836 non-null float64
title      100836 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 3.8+ MB

#### Convert the above data into pivot table matrix form ( wher we are going to consider rows are unique user id and columns are unique movies id)

In [214]:
pvt_table=df_mr.pivot_table(columns=["movieId"],index=["userId"],values="rating")

In [215]:
print(pvt_table)

movieId  1       2       3       4       5       6       7       8       \
userId
1           4.0     NaN     4.0     NaN     NaN     4.0     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5           4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
6           NaN     4.0     5.0     3.0     5.0     4.0     4.0     3.0
7           4.5     NaN     NaN     NaN     NaN     NaN     NaN     NaN
8           NaN     4.0     NaN     NaN     NaN     NaN     NaN     NaN
9           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
11          NaN     NaN     NaN     NaN     NaN     5.0     NaN     NaN
12          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
13          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
14          NaN     NaN     NaN     3.0     NaN     NaN     3.0     NaN
15          2.5     NaN     NaN     NaN     NaN     NaN     NaN     NaN
16          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
17          4.5     NaN     NaN     NaN     NaN     NaN     NaN     NaN
18          3.5     3.0     NaN     NaN     NaN     4.0     NaN     NaN
19          4.0     3.0     3.0     NaN     NaN     NaN     2.0     NaN
20          NaN     3.0     NaN     NaN     NaN     NaN     NaN     1.0
21          3.5     3.5     NaN     NaN     NaN     NaN     NaN     NaN
22          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
23          NaN     NaN     NaN     NaN     NaN     4.0     NaN     NaN
24          NaN     NaN     NaN     NaN     NaN     4.5     NaN     NaN
25          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
26          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
27          3.0     4.0     NaN     NaN     NaN     NaN     NaN     NaN
28          NaN     NaN     NaN     NaN     NaN     3.5     NaN     NaN
29          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
30          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...     ...     ...
581         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
582         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
583         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
584         5.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
585         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
586         NaN     4.0     NaN     NaN     NaN     NaN     NaN     NaN
587         5.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
588         NaN     NaN     3.0     NaN     NaN     5.0     NaN     NaN
589         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
590         4.0     2.5     3.0     NaN     2.0     3.5     NaN     NaN
591         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
592         NaN     4.0     NaN     NaN     NaN     3.0     NaN     NaN
593         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
594         NaN     4.0     4.0     NaN     NaN     NaN     NaN     NaN
595         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
596         4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
597         4.0     NaN     NaN     NaN     NaN     3.0     1.0     NaN
598         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
599         3.0     2.5     1.5     NaN     NaN     4.5     2.5     NaN
600         2.5     4.0     NaN     1.5     2.5     NaN     3.5     NaN
601         4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
602         NaN     4.0     NaN     NaN     NaN     3.0     NaN     NaN
603         4.0     NaN     NaN     NaN     NaN     4.0     NaN     NaN
604         3.0     5.0     NaN     NaN     3.0     3.0     NaN     NaN
605         4.0     3.5     NaN     NaN     NaN     NaN     NaN     NaN
606         2.5     NaN     NaN     NaN     NaN     NaN     2.5     NaN
607         4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
608         2.5     2.0     2.0     NaN     NaN     NaN     NaN     NaN
609         3.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
610         5.0     NaN     NaN     NaN     NaN     5.0     NaN     NaN

movieId  9       10      ...  193565  193567  193571  193573  193579  193581  \
userId                   ...
1           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
6           NaN     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
7           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
8           NaN     2.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
9           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
10          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
11          NaN     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
12          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
13          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
14          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
15          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
16          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
17          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
18          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
19          NaN     2.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
20          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
21          NaN     5.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
22          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
23          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
24          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
25          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
26          NaN     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
27          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
28          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
29          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
30          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
581         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
582         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
583         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
584         NaN     5.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
585         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
586         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
587         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
588         NaN     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
589         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
590         NaN     3.5  ...     NaN     NaN     NaN     NaN     NaN     NaN
591         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
592         NaN     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
593         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
594         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
595         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
596         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
597         NaN     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
598         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
599         1.5     3.5  ...     NaN     NaN     NaN     NaN     NaN     NaN
600         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
601         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
602         NaN     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
603         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
604         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
605         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
606         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
607         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
608         NaN     4.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
609         NaN     4.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
610         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN

movieId  193583  193585  193587  193609
userId
1           NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN
6           NaN     NaN     NaN     NaN
7           NaN     NaN     NaN     NaN
8           NaN     NaN     NaN     NaN
9           NaN     NaN     NaN     NaN
10          NaN     NaN     NaN     NaN
11          NaN     NaN     NaN     NaN
12          NaN     NaN     NaN     NaN
13          NaN     NaN     NaN     NaN
14          NaN     NaN     NaN     NaN
15          NaN     NaN     NaN     NaN
16          NaN     NaN     NaN     NaN
17          NaN     NaN     NaN     NaN
18          NaN     NaN     NaN     NaN
19          NaN     NaN     NaN     NaN
20          NaN     NaN     NaN     NaN
21          NaN     NaN     NaN     NaN
22          NaN     NaN     NaN     NaN
23          NaN     NaN     NaN     NaN
24          NaN     NaN     NaN     NaN
25          NaN     NaN     NaN     NaN
26          NaN     NaN     NaN     NaN
27          NaN     NaN     NaN     NaN
28          NaN     NaN     NaN     NaN
29          NaN     NaN     NaN     NaN
30          NaN     NaN     NaN     NaN
...         ...     ...     ...     ...
581         NaN     NaN     NaN     NaN
582         NaN     NaN     NaN     NaN
583         NaN     NaN     NaN     NaN
584         NaN     NaN     NaN     NaN
585         NaN     NaN     NaN     NaN
586         NaN     NaN     NaN     NaN
587         NaN     NaN     NaN     NaN
588         NaN     NaN     NaN     NaN
589         NaN     NaN     NaN     NaN
590         NaN     NaN     NaN     NaN
591         NaN     NaN     NaN     NaN
592         NaN     NaN     NaN     NaN
593         NaN     NaN     NaN     NaN
594         NaN     NaN     NaN     NaN
595         NaN     NaN     NaN     NaN
596         NaN     NaN     NaN     NaN
597         NaN     NaN     NaN     NaN
598         NaN     NaN     NaN     NaN
599         NaN     NaN     NaN     NaN
600         NaN     NaN     NaN     NaN
601         NaN     NaN     NaN     NaN
602         NaN     NaN     NaN     NaN
603         NaN     NaN     NaN     NaN
604         NaN     NaN     NaN     NaN
605         NaN     NaN     NaN     NaN
606         NaN     NaN     NaN     NaN
607         NaN     NaN     NaN     NaN
608         NaN     NaN     NaN     NaN
609         NaN     NaN     NaN     NaN
610         NaN     NaN     NaN     NaN

[610 rows x 9724 columns]

#### In ithe new pivot table we have lot of value is NAN so conver all the NAN value into zero

In [216]:
pvt_table=pvt_table.fillna(0)

In [217]:
print(pvt_table)

movieId  1       2       3       4       5       6       7       8       \
userId
1           4.0     0.0     4.0     0.0     0.0     4.0     0.0     0.0
2           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
5           4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6           0.0     4.0     5.0     3.0     5.0     4.0     4.0     3.0
7           4.5     0.0     0.0     0.0     0.0     0.0     0.0     0.0
8           0.0     4.0     0.0     0.0     0.0     0.0     0.0     0.0
9           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
10          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
11          0.0     0.0     0.0     0.0     0.0     5.0     0.0     0.0
12          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
13          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
14          0.0     0.0     0.0     3.0     0.0     0.0     3.0     0.0
15          2.5     0.0     0.0     0.0     0.0     0.0     0.0     0.0
16          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
17          4.5     0.0     0.0     0.0     0.0     0.0     0.0     0.0
18          3.5     3.0     0.0     0.0     0.0     4.0     0.0     0.0
19          4.0     3.0     3.0     0.0     0.0     0.0     2.0     0.0
20          0.0     3.0     0.0     0.0     0.0     0.0     0.0     1.0
21          3.5     3.5     0.0     0.0     0.0     0.0     0.0     0.0
22          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
23          0.0     0.0     0.0     0.0     0.0     4.0     0.0     0.0
24          0.0     0.0     0.0     0.0     0.0     4.5     0.0     0.0
25          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
26          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
27          3.0     4.0     0.0     0.0     0.0     0.0     0.0     0.0
28          0.0     0.0     0.0     0.0     0.0     3.5     0.0     0.0
29          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
30          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...     ...     ...     ...     ...
581         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
582         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
583         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
584         5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
585         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
586         0.0     4.0     0.0     0.0     0.0     0.0     0.0     0.0
587         5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
588         0.0     0.0     3.0     0.0     0.0     5.0     0.0     0.0
589         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
590         4.0     2.5     3.0     0.0     2.0     3.5     0.0     0.0
591         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
592         0.0     4.0     0.0     0.0     0.0     3.0     0.0     0.0
593         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
594         0.0     4.0     4.0     0.0     0.0     0.0     0.0     0.0
595         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
596         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
597         4.0     0.0     0.0     0.0     0.0     3.0     1.0     0.0
598         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
599         3.0     2.5     1.5     0.0     0.0     4.5     2.5     0.0
600         2.5     4.0     0.0     1.5     2.5     0.0     3.5     0.0
601         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
602         0.0     4.0     0.0     0.0     0.0     3.0     0.0     0.0
603         4.0     0.0     0.0     0.0     0.0     4.0     0.0     0.0
604         3.0     5.0     0.0     0.0     3.0     3.0     0.0     0.0
605         4.0     3.5     0.0     0.0     0.0     0.0     0.0     0.0
606         2.5     0.0     0.0     0.0     0.0     0.0     2.5     0.0
607         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
608         2.5     2.0     2.0     0.0     0.0     0.0     0.0     0.0
609         3.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
610         5.0     0.0     0.0     0.0     0.0     5.0     0.0     0.0

movieId  9       10      ...  193565  193567  193571  193573  193579  193581  \
userId                   ...
1           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
2           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
3           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
4           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
5           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
6           0.0     3.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
7           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
8           0.0     2.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
9           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
10          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
11          0.0     3.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
12          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
13          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
14          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
15          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
16          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
17          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
18          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
19          0.0     2.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
20          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
21          0.0     5.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
22          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
23          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
24          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
25          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
26          0.0     3.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
27          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
28          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
29          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
30          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
581         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
582         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
583         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
584         0.0     5.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
585         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
586         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
587         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
588         0.0     3.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
589         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
590         0.0     3.5  ...     0.0     0.0     0.0     0.0     0.0     0.0
591         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
592         0.0     3.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
593         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
594         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
595         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
596         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
597         0.0     3.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
598         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
599         1.5     3.5  ...     0.0     0.0     0.0     0.0     0.0     0.0
600         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
601         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
602         0.0     3.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
603         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
604         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
605         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
606         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
607         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
608         0.0     4.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
609         0.0     4.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
610         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0

movieId  193583  193585  193587  193609
userId
1           0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0
5           0.0     0.0     0.0     0.0
6           0.0     0.0     0.0     0.0
7           0.0     0.0     0.0     0.0
8           0.0     0.0     0.0     0.0
9           0.0     0.0     0.0     0.0
10          0.0     0.0     0.0     0.0
11          0.0     0.0     0.0     0.0
12          0.0     0.0     0.0     0.0
13          0.0     0.0     0.0     0.0
14          0.0     0.0     0.0     0.0
15          0.0     0.0     0.0     0.0
16          0.0     0.0     0.0     0.0
17          0.0     0.0     0.0     0.0
18          0.0     0.0     0.0     0.0
19          0.0     0.0     0.0     0.0
20          0.0     0.0     0.0     0.0
21          0.0     0.0     0.0     0.0
22          0.0     0.0     0.0     0.0
23          0.0     0.0     0.0     0.0
24          0.0     0.0     0.0     0.0
25          0.0     0.0     0.0     0.0
26          0.0     0.0     0.0     0.0
27          0.0     0.0     0.0     0.0
28          0.0     0.0     0.0     0.0
29          0.0     0.0     0.0     0.0
30          0.0     0.0     0.0     0.0
...         ...     ...     ...     ...
581         0.0     0.0     0.0     0.0
582         0.0     0.0     0.0     0.0
583         0.0     0.0     0.0     0.0
584         0.0     0.0     0.0     0.0
585         0.0     0.0     0.0     0.0
586         0.0     0.0     0.0     0.0
587         0.0     0.0     0.0     0.0
588         0.0     0.0     0.0     0.0
589         0.0     0.0     0.0     0.0
590         0.0     0.0     0.0     0.0
591         0.0     0.0     0.0     0.0
592         0.0     0.0     0.0     0.0
593         0.0     0.0     0.0     0.0
594         0.0     0.0     0.0     0.0
595         0.0     0.0     0.0     0.0
596         0.0     0.0     0.0     0.0
597         0.0     0.0     0.0     0.0
598         0.0     0.0     0.0     0.0
599         0.0     0.0     0.0     0.0
600         0.0     0.0     0.0     0.0
601         0.0     0.0     0.0     0.0
602         0.0     0.0     0.0     0.0
603         0.0     0.0     0.0     0.0
604         0.0     0.0     0.0     0.0
605         0.0     0.0     0.0     0.0
606         0.0     0.0     0.0     0.0
607         0.0     0.0     0.0     0.0
608         0.0     0.0     0.0     0.0
609         0.0     0.0     0.0     0.0
610         0.0     0.0     0.0     0.0

[610 rows x 9724 columns]

#### As we know pandas is built on Numpy so better we will convert it into numpy format for faster execution

In [218]:
data_matrix=pvt_table.as_matrix()

C:\Users\Sanjeev\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [219]:
data_matrix

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

### Recomendation engine for content based filtering

#### 1.  User - user similiraty matrix

In [220]:
from scipy.spatial.distance import cosine

In [221]:
m,n=data_matrix.shape

In [222]:
m

610

In [223]:
n

9724

In [224]:
data_matrix

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

#### User Similiraty matrix

In [225]:
mat_users=np.zeros((m,m))

In [226]:
mat_users

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [227]:
for i in range(m):
    for j in range(m):
        if i!=j:
            mat_users[i][j]=(1-cosine(data_matrix[i,:],data_matrix[j,:]))
        else:
            mat_users[i][j]=0

In [228]:
pd_users=pd.DataFrame(mat_users, index=pvt_table.index, columns=pvt_table.index)

#### Finding the similar users relevent to the cosine functionality

In [229]:
def topSimUsers(uid=10,n=6):
    users=pd_users.loc[uid,:].sort_values(ascending=False)
    topn_users=users.iloc[:n,]
    topn_users=topn_users.rename('score')
    print("Similar users as user:",uid)
    return pd.DataFrame(topn_users)
print(topSimUsers(uid=1,n=5))

Similar users as user: 1
           score
userId
266     0.357408
313     0.351562
368     0.345127
57      0.345034
91      0.334727

#### Most rated movies of the users

In [230]:
def topRatedMovies(userid=50,n_ratings=10):
    userid_ratings=df_mr.loc[df_mr["userId"]==userid]
    userid_ratings=userid_ratings.sort_values(by="rating",ascending=[False])
    print("Top",n_ratings,"movie ratings of users:",userid)
    return userid_ratings.iloc[:n_ratings,]
print(topRatedMovies(userid=10,n_ratings=5))

Top 5 movie ratings of users: 10
      userId  movieId  rating                          title
1258      10   140110     5.0              The Intern (2015)
1167      10     8869     5.0          First Daughter (2004)
1236      10    96079     5.0                 Skyfall (2012)
1229      10    91529     5.0  Dark Knight Rises, The (2012)
1161      10     7458     5.0                    Troy (2004)